.card-main-cont{
    width: 240px;
    height: 423px;
    margin-top: 8vh;
    border-radius: 11px;
    border: 1px solid #e0e0e0;
}
.card-img1{
    width: 240px;
    height: 170.50px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}
.card-img1 img{
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.card-main-cont:hover .card-img1 img{
    transform: scale(1.05);
}
.card-man-img img{
    height: 44px;
    width: 44px;
    border-radius: 50%;
    position: relative;
    bottom: 4.3vh;
    left: 13.6vw;
}
.card-grey-gola{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #c5c5c5;
    position: relative;
    bottom: 7vh;
    left: 16.3vw;
}
.card-text1-cont1{
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 8.29vh;
}
.card-text1-cont2{
    height: 100%;
    width: 85%;
    display:flex;
    align-items: center;
    font-size: 13px;
    gap: 4px;
    color: #888888;
    border-bottom: 1px solid #e0e0e0;
}
.card-text2-cont1{
    width: 100%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    bottom: 7.2vh;
}
.card-text2-cont2{
    width: 85%;
    height: 33px;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    font-weight: 700;
}
.card-text3-cont1{
    width: 100%;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    bottom: 7vh;
    border-bottom: 1px solid #e0e0e0;
}
.card-text3-cont2{
    width: 85%;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: .3px;
    color: #888888;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.card-text4-cont1{
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    bottom: 6.5vh;
}
.card-text4-cont2{
    height: 100%;
    width: 92.5%;
}
.text4-cont3{
    height: 38px;
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 2.3vh;
}
.text4-cont4{
    width: 38px;
    height: 38px;
    border-left: 1px  solid #e0e0e0;
    border-right: 1px  solid #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999898;
}
.text4-cont5{
    width: 38px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999898;
}
.card-text5-cont1{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 7.7vh;
    left: 1vw;
}
.text5-cont2{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
}
.dollare-icon{
    font-size: 16px;
    font-weight: 900;
    margin-top: 2px;
}
.view{
    font-size: 12px;
    color: #888888;
    margin-right: 20px;
}
.feature{
    width: 70px;
    height: 22px;
    background-color: rgba(243, 29, 39, 1);
    border-radius: 2PX;
    font-weight: 500;
    color: white;
    font-size: 11PX;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 76.3vh;
    left: 12vw;
}
