.fixed-cont button{
    height: 50px;
    width: 170px;
    color: white;
    font-size: 16px;
    background-color: #e44E26;
    border: none;
    border-radius: 4px;
    font-weight: 900;
    position: fixed;
    left: 2.3vw;
    top: 85.2vh;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.fixed-cont button:hover{
    background-color: #c9431e;
}