.imgslide-cont1{
    overflow: hidden;
    height: 250px;
    width: 205px;
    border-radius: 10px;
}
.imgslide-cont1 img{
    width: 227px;
    height: 250px;
    border-radius: 10px;
    transition: transform 0.2s ease-out;
}
.imgslide-cont1:hover.imgslide-cont1 img{
    transform: translateX(-10px);
}
.slide-text{
    position: relative;
    bottom: 36.5vh;
    left: 2.7vw;
}
.imageslide-parent{
    display: block;
}
.slide-text1{
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
}
.slide-text2{
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
}