.big-maincont{
    width: 100%;
    height: 580px;
    background-color: #f3f3f3;
    margin-top: 8.5vh;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.big-imgcont{
    width: 100%;
    height: 537px;
    background-image: url(./image/car-image.png);
    background-repeat: no-repeat;
    background-size: 100% 537px;
    border-radius: 18px;
    display: flex;
    align-items: center;
}
.big-text-cont{
    height: 400px;
    width: 890px;
}
.big-text1{
    font-family: "Kalam", Sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #ffe336;
    margin-left: 5vw;
}
.big-text2{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: -2px;
    margin-left: 5vw;
    margin-top: 3vh;
    width: 81%;
}
.big-serch-cont{
    height: 106px;
    width: 91%;
    background-color: white;
    margin-top: 3vh;
    margin-left: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}
.big-input1{
    display: flex;
    align-items: center;
    width: 305px;
    background-color: #ffffff;
    border-bottom: 1px solid red;
    border-radius: 6px;
}
@media (max-width:768px) {
    
}
.big-input1 input{
    height: 54px;
    width: 278px;
    outline: none;
    margin-left: 5px;
    border: none;
}

.big-input1 input::placeholder{
    padding: 10px;
    font-size: 16px;
}
.big-input2{
    display: flex;
    align-items: center;
    width: 305px;
    background-color: #ffffff;
    border-bottom: 1px solid red;
    border-radius: 6px;
}

.big-input2 input{
    outline: none;
    height: 54px;
    width: 278px;
    margin-left: 5px;
    border: none;
}
.big-input2 input::placeholder{
    padding: 10px;
    font-size: 16px;
}
.big-search-btn{
    width: 150px;
    height: 54px;
    display: flex;
    align-items: center;
}
.big-search-btn button{
    height: 54px;
    width: 136px;
    border-radius: 6px;
    border: 1px solid rgba(57, 181, 74, 1);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    background-color: #2a41e2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
}
.big-search-btn-ii{
    font-size: 22px;
    margin-right: 8px;
}
.big-search-btn button:hover{
    background-color: black;
}
