.location-maincont{
    width: 100%;
    height: 608px;
    display: flex;
    justify-content: center;
    margin-top: 13vh;
}
.location-parent1{
    width: 98.5%;
    height: 100%;
    display: flex;
    justify-content: space-between
}
/* .box1{
    width: 48%;
    height: 250px;
    background-color: blue;
}
.box2{
    width: 48%;
    height: 250px;
    background-color:violet;
}
.box3{
    width: 98%;
    height: 320px; */
    /* margin: auto;
    background-color:yellow;
}
.location-parent2{
    width: 49%;
    height: 100%;
    background-color:blueviolet;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box4{
    height: 98%;
    width: 49%;
    background-color:red;
}
.last-div{
    width: 49%;
    height: 100%;
    display: block;
    justify-content: space-between;
    background-color: sandybrown;
}
.box5{
    width: 98%;
    height: 290px;
    background-color: crimson;
}
.box6{
    width: 98%;
    height: 290px;
    background-color:darkgreen;
} */







/* meri property */

.location-cont3{
    width: 49.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.location-cont3-1{
    width: 98.5%;
    height: 48.5%;
    display: flex;
    justify-content: space-between;
}
.location-cont3-1-01{
    height: 95%;
    width: 48.5%;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}
.location-cont3-1-01 img{
    height: 100%;
    width: 117%;
    transition: transform 0.2s ease-out;
}
.location-cont3-1-01 img:hover{
    transform: translateX(-14.5%);
}

.usa-overlay{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    width: 100%;
    height: 0%;
    transition: 0.5s ease;
}
.listing{
color: red;
position: relative;
}

.location-cont3-1-01:hover .usa-overlay{
    height: 20%;
}
.location-cont3-1-02{
    height: 95%;
    width: 48.5%;
    overflow: hidden;
    border-radius: 12px;
}
.location-cont3-1-02 img{
    height: 100%;
    width: 117%;
    transition: 0.2s ease-out;
}
.location-cont3-1-02 img:hover{
    transform: translateX(-14.3%);
}
.location-cont3-2{
    width: 98.5%;
    height: 59%;
    border-radius: 12px;
    overflow: hidden;
}
.location-cont3-2 img{
    width: 117%;
    height: 100%;
    transition: transform 0.2s ease-out;
}
.location-cont3-2 img:hover{
    transform: translateX(-14.5%);
}
.location-cont4{
    width: 49.5%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.location-cont4-1{
    height: 100%;
    width: 51%;
    overflow: hidden;
    border-radius: 12px;
}
.location-cont4-1 img{
    height: 100%;
    width: 115%;
    float: right;
    transition: 0.2s ease-out;
}
.location-cont4-1 img:hover{
    transform:translateX(7.8%);
}
.location-cont4-2{
    height: 100%;
    width:47%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.location-cont4-2-01{
    height: 43%;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}
.location-cont4-2-01 img{
    height: 100%;
    width: 117%;
    float:right;
    transition: 0.2s ease-out;
}
.location-cont4-2-01 img:hover{
    transform: translateX(13.5%);
}
.location-cont4-2-02{
    height: 54%;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}
.location-cont4-2-02 img{
    height: 100%;
    width: 117%;
    float: right;
    transition: 0.2s ease-out;
}
.location-cont4-2-02 img:hover{
    transform: translateX(14.5%);
}
